<!DOCTYPE HTML>
<html>

<head>
<title>wlit</title>
<style>
		body {background-color: powderblue; font-size: 250%;}
		input {font-size: 150%; margin: 0 auto;}
		button {
    		
    		font-size: 150%;
			}

</style>
</head>


<body>

<form method="post" action="/addnote">
title: <input type="text" name='title' id="textinput1" placeholder="title" /><br/>
note: <input type="text" name='note' id="textinput" placeholder="your notes here" /><br/>

<button id="myButton" type="submit">addnote</button><br/></a>
</form>
</body>


</html>

