<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
		body {background-color: powderblue; font-size: 150%;}
		h1{font-size: 500%; text-align: center;}
		p{font-size: 150%; text-align: center;}
		button {
    		margin: 0 auto;
    		display: block;
    		font-size: 150%;
			}
</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p></body><br/>
    
   <a href="http://localhost:3000/addnote"> <button id="myButton" type="submit">add note</button><br/></a>
    


  </body>
</html>
