<!DOCTYPE HTML>
<html>

<head>
<title>wlit</title>
</head>


<body>

<form method="post" action="/login">

username: <input type="text" name='username' id="nameinput"/><br/>
password: <input type="password" name='password' id="passwordinput"/><br/>

<button id="myButton" type="submit">login</button><br/>
</form>
</body>


</html>

